<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name,:placeholder => "first_name" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :placeholder => "last_name"  %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :placeholder => "email" %>
  </div>
   <div class="field">
 <%= f.password_field :password, :placeholder => "password" %>
</div> <div class="field">
      
      <%= f.password_field :password_confirmation ,:placeholder => "password" %>
</div>

  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile,:placeholder => "mobile no" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address,:placeholder => "address" %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country ,:placeholder => "country"%>
  </div>
 
  <div class="actions">
    <%= f.submit "Create my account" %>
  </div>
<% end %>
